* {
  margin: 0%;
  padding: 0;
}

.itinerary__img {
  display: flex;
  position: absolute;
  bottom: 20rem;
  left: 16rem;
}
h1 {
  position: absolute;
  color: #ffffff;
  z-index: 10;
  font-size: 7rem;
  top: 34rem;
  left: 10rem;
}
.itinerary img {
  width: 1280px;
  height: 1280px;
}
.itinerary__card {
  width: 300px;
  height: 400px;
  border-radius: 5px;
  box-sizing: border-box;
  background-color: #ffffff;
  line-height: 3;
  text-align: center;
  padding: 0 10px;
  margin-right: 40px;
  margin-top: 65px;
}
.itinerary__img li {
  list-style-type: none;
  font-size: 2rem;
  background-color: #fefaf5;
  border: 5px solid #fff;
}
.itinerary__img li a {
  color: black;
  text-decoration: none;
}
.itinerary__card ul li:first-child {
  border-bottom: 2px solid black;
  list-style-type: none;
  background-color: #fff;
}
.itinerary__card ul li:nth-child(2) {
  margin-top: 10px;
}

